<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
