@charset "utf-8";
/* CSS Document */
@media only screen and (min-width : 320px)
{
.iftar-image {
  background-image:url(../offers/images/IftarOffer-bg.jpg);
  background-size: cover;
  display: block;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
   margin: -8px -1px -1px -10px;
  height: 450px;
  left: 0;
  position: relative;
  right: 0;
  top:45px;
  z-index: 1;
  margin-bottom:10px;
  background-color: rgba(0, 0, 0, 0.859);
}
.offer-bg
{
  background:#FFF;
}
.offer-text
{
	padding-right:0;
	position:relative;
	text-align:center;
	background:#FFF;
}
.offer-text h1
{
  font-size: 23px;
   font-family: "damion";
   color:#2F2F2F;
  line-height: 20px;
}
.offer-text p
{
  font-size: 12px;
  font-family: "Ubuntu";
  line-height: 1.5;
  color:#2F2F2F;
}
.offer-bg img
{
	margin:0;
	padding:0;
	width:100%;
}
.offer-bg .col-md-8
{
	padding:0;
}
.offers-all p{
  font-size: 13px;
  font-family: "Ubuntu";
  color: rgb(104, 104, 104);
  line-height: 1.6;
}
.offers-all ul
{
	list-style:circle;
	margin:0 5px;
	padding:0;
	line-height: 1.6;
	color: rgb(104, 104, 104);
	font-size:13px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
.iftar-image {
  background-image:url(../offers/images/IftarOffer-bg.jpg);
  background-size: cover;
  display: block;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
   margin: -8px -1px -1px -10px;
  height: 500px;
  left: 0;
  position: relative;
  right: 0;
  top:45px;
  z-index: 1;
  margin-bottom:10px;
  background-color: rgba(0, 0, 0, 0.859);
}
}

@media only screen and (min-width : 1200px)
{
.iftar-image {
  background-image:url(../offers/images/IftarOffer-bg.jpg);
  background-size: cover;
  display: block;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
   margin: -8px -1px -1px -10px;
  height: 500px;
  left: 0;
  position: relative;
  right: 0;
  top:45px;
  z-index: 1;
  margin-bottom:10px;
  background-color: rgba(0, 0, 0, 0.859);
}
.offer-text
{
	padding-top:60px;
	padding-right:1px;
	position:relative;
	text-align:left;
	background:#f51f37;
}
.offer-text h1
{
  font-size: 39px;
 font-family: "damion";
  color:#FFF;
  line-height: 50px;
}
.offer-text p
{
  font-size: 14px;
  font-family: "Ubuntu";
  color:#FFF;
  line-height: 1.8;
}
.offer-bg
{
  background:#f51f37;
}
.offer-bg img
{
	margin-left:-15px;
}
.offers-all p{
  font-size: 15px;
  font-family: "Ubuntu";
  color: rgb(104, 104, 104);
  line-height: 1.6;
}
.offers-all ul
{
	list-style:circle;
	margin:0 5px;
	padding:0;
	line-height: 1.6;
	color: rgb(104, 104, 104);
	font-size:15px;
}
}

.book-now-xs
{
	background:#ee846a;
	color:#FFF;
	padding:15px 20px;
	text-align:center;
}
.book-now-xs a
{
	color:#FFF;
}
.offers-content
{
  background-color:transparent;
  font-family:ubuntu;
  top: 90px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
.offers-all h2 {
  font-size: 38px;
  font-family: "Ubuntu";
  color: rgb(53, 53, 53);
  line-height: 1.146;
  font-weight:lighter !important;
  padding-bottom:5px;
}

.offer-text .book-offer
{
color: #FFF;
font-size: 14px;
padding: 8px 28px;
border: 1px solid #FFF;
text-transform: uppercase;
background-color: transparent;
transition: all 1s;
height: 35px;
}
.offer-text .book-offer:hover
{
color: #FFF;
font-size: 14px;
padding: 8px 28px;
border: 1px solid #ee846a;
text-transform: uppercase;
background-color: #ee846a;
transition: all 1s;
height: 35px;
}

